.mainContainer{
    width: 30%;
    height: fit-content;
    background-color: cadetblue;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.title{
    font-size: 32px;
    width: 100%;
    color: white;
}
