.mainContainer{
    position: relative;
    width: 100%;
    min-height: 20dvh;
    background-color: aliceblue;
    border-radius: 16px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    color: black;
    font-size: 24px;
}

.leftIcon {
    position: absolute;
    top: 24px;
    right: 40px;

    width: 24px;
    height: 24px;
}

.rightIcon {
    position: absolute;
    top: 24px;
    right: 16px;

    width: 24px;
    height: 24px;
}

