.layout {
  background-color: aquamarine;
  width: 100dvw;
  height: 100dvh;
  padding: 2rem;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: scroll;
}

.addNew {
  width: 10%;
  height: fit-content;
  background-color: cadetblue;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  box-sizing: border-box;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;

  font-size: 32px;
 line-height: 39px;
}
